/*
@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/commons";
@import "~react-toolbox/lib/button/theme";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
*/

.btnDanger {
    background: #F05E1B;
    border-color: #FE2E2E;
    border-width: 2px;
    border-radius: 0;
    color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    &:focus {
        background: #ea1932;
        border-color: #ea1932;
    }
    &:hover {
        background: #ea1932;
        border-color: #ea1932;
    }
}
